---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="microtip" content="1TimbaZj9kttHJuwn4TddyZFU4zxP4tGM" data-currency="btc">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  <link rel="stylesheet" href="//ipfs.akinbo.org/ipfs/QmbgnW9NnndjF7SXc6BepLhAcpLkozzc6JRYW6hk4LuQ6r/style.css">
  <link rel="stylesheet" href="//ipfs.akinbo.org/ipfs/QmTXbJuB47SLrCGH4PB2YcQV54nHejcksHgx9soSrFGUzX/fonts.css">
  {% seo %}
</head>
<body>
  <div class="container">
    {{ content }}
  </div>
</body>
</html>
